### Archivos del Sistema Operativo ###
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

### Java / Maven ###
target/
!.**/src/main/**/target/
!.**/src/test/**/target/
*.jar
*.war
*.ear
*.class
.mvn/wrapper/maven-wrapper.jar

### Variables de Entorno y Credenciales (CRUCIAL) ###
.env
.env.local
.env.*.local
application-local.properties
application-local.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!.**/src/main/**/build/
!.**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
*.log

